/* Add Compound Selectors and pseudo selectors */
body {
  background-color: #F0EAD6;
}

h1 h2 h3 {
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px
  font-variant: small-caps;
  line-height: 1.5;
}

.essay {
  margin-left: 20px;
  text-align: left;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px
  font-variant: small-caps;

}

h2 {
  font-size: 20px
}

h3.essay {
  text-decoration: underline;
}

p {
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px
  font-variant: small-caps;
  text-indent: 1.5em;
  line-height: 2;
}

ol {
  /* background: #ffe5e5;
  padding: 5px; */
  margin-left: 5px;
}
li {
  padding: 3px;
  line-height: 1.5;
}
lh {
  text-decoration: underline;
  font-size: 20px;
}

.Button {
  text-align: center;
  margin-top: 20px;
  margin-right: 90%;
  background-color: black;
  font-size: 20px;
}

.Button a:hover {
  background-color: white;
  color: black;
}
.pill-nav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.pill-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.pill-nav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: white;
  color: black;
}
/* Dropdown Button */
.dropbtn {
  background-color: #2980B9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #96A2CA;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* for resume and projects embed*/
.documentembed {
display:block;
margin-left: auto;
margin-right: auto;
margin:30px;
width:100%;
}

.returnbutton {
  text-align: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin-left: 20px;
  margin-top: 20px;
  background-color: black;
  padding:5px;
  color: white;
  text-decoration: none;
}
.returnbutton a:hover {
  background-color: white;
  color: black;
}
